@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    /* Primary Colors */
    /* --primary-color: #1E2A38; */
    --primary-color: #007bff;
    /* Navy Blue */
    --secondary-color: #4ABDAC;
    --lighter-secondary-color: #e3f8f5;
    /* Aqua Blue */
    /* --blue:#007bff; */

    /* Neutral Colors */
    --background-color: #F5F5F5;
    /* Light Gray */
    --text-color: #333333;
    /* Dark Gray */
    --white-color: #FFFFFF;
    /* White */

    /* Accent Colors */
    --accent-color: #FC4A1A;
    /* Coral */
    --success-color: #2ECC71;
    /* Green */


    /* Font Sizes */
    --font-size-p: 16px;
    /* Paragraph text */
    --font-size-small: 12px;
    /* Small text, labels, etc. */
    --font-size-base: 16px;
    /* Base font size for body */
    --font-size-h1: 2.8rem;
    /* Headline 1 */
    --font-size-h2: 1.6rem;
    /* Headline 2 */
    --font-size-h3: 1.3rem;
    /* Headline 3 */
    --font-size-h4: 16px;
    /* Headline 4 */
    --font-size-h5: 14px;
    /* Headline 5 */
    --font-size-h6: 12px;
    /* Headline 6 */
    --font-size-link: 14px;
    /* Links */
    --font-size-button: 14px;
    /* Buttons */

    --transition-duration: 0.3s;
    /* Transition duration */

    /*shoadow*/
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

nav {
    background: var(--background-color);
    position: sticky;
    top: 0px;
    z-index: 1001;
}

nav .container {
    display: flex;
    align-items: center;
    padding: 15px 5px;
    width: 100%;
    position: relative;
}

nav .container .logo {
    display: flex;
    align-items: center;
}

nav .container .logo a {
    font-size: 30px;
    color: var(--accent-color);
    margin-right: 5px;
}

nav .container .logo span {
    font-size: var(--font-size-p);
    font-weight: bold;
    line-height: 15px;
    color: var(--secondary-color);
}

nav .container .booking-btn {
    border: none;
    outline: none;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: var(--font-size-base);
    background: var(--secondary-color);
    color: var(--white-color);
    transition: background-color var(--transition-duration), color var(--transition-duration);
    position: absolute;
    right: 50px;
}

nav .container .booking-btn:hover {
    background: var(--white-color);
    color: var(--secondary-color);
}

nav .container .navbar-toggler {
    position: absolute;
    right: 10px;
}


nav .container .navbar-toggler span i {
    font-size: 28px;
    color: var(--secondary-color);
}

.nav-items {
    display: none;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 55px;
    list-style: none;
    position: absolute;
    background: var(--white-color);
    border: 1px solid #ddd;
    border-radius: 10px;
    top: 85px;
    right: 10px;
    font-size: var(--font-size-base);
    text-align: center;
    width: 200px;
    z-index: 1000;
}

.nav-items.show {
    display: block;
    align-items: center;
    justify-content: center;
}

.nav-items .nav-item {
    padding: 10px;
}

.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.nav-items .nav-item:hover {
    background-color: #f1f1f1;
    color: var(--text-color);
}


.hero {
    position: relative;
    /* Required for the pseudo-element */
    background: url('/laundry-app/img/hero img 3.jpg') center center/cover no-repeat;
    height: 110vh;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 1rem;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(127, 124, 255, 0.906);
    /* Light shadow effect */
    opacity: 0.9;
    /* Lower opacity of the background image */
    z-index: -1;
    /* Place the pseudo-element behind the content */
}

.hero h1 {
    font-size:var(--font-size-h1);
    font-weight: 600;
    position: relative;
    z-index: 2;
}

/* Medium screens (tablets) */
@media (max-width: 992px) {
    .hero h1 {
        font-size: 3rem;
        /* Slightly smaller for tablets */
    }
}

/* Small screens (phones) */
@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
        /* Smaller size for small screens */
    }
}

.hero p {
    font-size: 18px;
}

.hero .pickup-btn {
    color: var(--white-color);
}

.hero .pickup-btn {
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    padding: 5px 20px;
    border-radius: 30px;
    border: none;
}

.hero .pickup-btn i {
    font-size: 28px;
    margin-left: 10px;
    color: var(--white-color);
}


/* Make sure the modal overlays on top of all content */
.modal {
    display: none;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 500px;
    padding: 20px;
    margin: 0px 10px;
    position: relative;
}

.modal-header {
    display: flex;
    align-items: center;
    background: var(--secondary-color);
    color: var(--white-color);
    padding: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
}

body.modal-open {
    overflow: hidden;
    /* Prevent scrolling on the background */
}

.modal-header h5 {
    margin: 0;
}

.modal-header .close-btn {
    position: absolute;
    right: 15px;
    top: 9px;
    background: none;
    border: none;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
}

.modal-body {
    padding: 20px;
}

.list-group {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-group-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list-group-item a {
    text-decoration: none;
    color: var(--text-color);
}

.list-group-item:hover {
    background-color: #f0f0f0;
}

.list-group-item i {
    margin-right: 10px;
    color: var(--primary-color);
}




.location-container {
    position: relative;
}

.location-container .scrolling-wrapper {

    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    gap: 15px;
}

.location-container .scrolling-wrapper::-webkit-scrollbar {
    height: 8px;
}

.location-container .scrolling-wrapper .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: var(--background-color);
    flex: 0 0 200px;
    flex-shrink: 0;
    width: 90px;
    border-radius: 10px;
    padding: 10px 30px;
    margin: 20px 5px;
}

.location-container .scrolling-wrapper .card i {
    font-size: 30px;
    color: var(--primary-color);
    margin-bottom: 10px;
}

.location-container .scrolling-wrapper .card h5 {
    font-size: var(--font-size-h5);
    color: var(--text-color);
}

.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

/*trust*/
.trust-section {
    background-color: var(--background-color);
}

.trust-item {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--lighter-secondary-color);
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    overflow: hidden;
}

.trust-item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.trust-item i {
    font-size: 5rem;
    color: var(--secondary-color);
    transition: opacity 0.3s ease;
}

.trust-item:hover i {
    opacity: 0;
}

.trust-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary-color);
    /* Overlay color */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
    text-align: center;
}

.trust-item:hover .trust-text {
    opacity: 1;
}


/*services*/
#services {
    z-index: 2;
}
#services h2{
    color: var(--white-color);
}

.service-container {
    position: relative;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.service-container .service {
    background: var(--lighter-secondary-color);
    max-width: 800px;
    margin: 10px;
    padding: 15px 10px;
    border-radius: 10px;

}

.service-container .card-container {
    margin: 15px 15px;
    padding: 15px;
}

.service-container .card {
    background: var(--white-color);
    color: var(--secondary-color);
    border: none;
}

.service-container .card:hover {
    background: var(--secondary-color);
    color: var(--white-color);
}

.service-container .card-body {
    font-size: 75px;
    text-align: center;

}

.service-container #view-all {
    position: absolute;
    bottom: -50px;
    padding: 10px 35px;
    background: var(--secondary-color);
    color: var(--white-color);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: var(--font-size-p);
}


/*section-3*/
.section-3 .col-md-5{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-3 .img-one {
    background: url(img/hero\ 1.webp);
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 260px;
    border-radius: 60px;
    margin: 15px;
}
.section-3 .img-two{
    background: url(img/process.jpg);
    background-position: center;
    background-size: cover;
    width: 140px;
    height: 260px;
    border-radius: 60px;
    margin: 15px;
}
.section-3 .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
}

.section-3 .img-two {
    position: relative;
    top: 70px;
}

.section-3 .text-container {
    margin: 0px 10px;
}

.section-3 .text-container h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.section-3 .text-container p {
    font-size: 16px;
    font-style: italic;
}

.section-3 .text-container ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.section-3 .text-container ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.section-3 .text-container ul li i {
    font-size: 26px;
    margin-right: 5px;
    color: #b88a00;
}

#Make-your-first-order {
    background: #4ABDAC;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    color: #ffffff;
}

@media (max-width:768px) {
    .section-3 .text-container {
        margin-top: 140px;
    }

}

.container .contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--secondary-color);
    padding: 40px 10px;

}

.container .contact h3 {
    margin-right: 20px;
    color: var(--white-color);
    font-size: var(--font-size-h3);
}

@media (max-width: 768px) {
    .container .contact h1 {
        font-size: 24px;
    }
}

.container .contact a {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: var(--primary-color);
    padding: 10px 20px;
    color: var(--white-color);
    border-radius: 20px;
}

.container .contact a i {
    margin-right: 10px;
}

/*section-4*/

.stepsList-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.steps-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.step {
    text-align: center;
    flex: 1;
    margin: 0 10px;
    cursor: pointer;
}

.step-number {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    /* Green color */
    color: #fff;
    border-radius: 50%;
    font-size: 18px;
    margin-bottom: 10px;
}

.step-number:hover {
    background-color: var(--text-color);
}

.steps-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Center images horizontally */
    align-items: center;
}

.step-content {
    display: none;
    /* Hide all by default */
    position: relative;
    width: 100%;
    max-width: 250px;
    /* Max width of image container */
    height: 280px;
    /* Adjust height automatically */
    margin: 10px;
    overflow: hidden;
}

.step-content.active {
    display: block;
    /* Show only the active step */
}

.step-content p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    color: #f5f5f5;
    /* Text color */
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    z-index: 1;
}

.step-content img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Cover the container while preserving aspect ratio */
    display: block;
}

.step-content::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    /* Adjust this to control how much of the image is darkened */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    /* Dark to transparent gradient */
}

@media (min-width: 768px) {
    .steps-content {
        display: flex;
    }

    .step-content {
        display: block;
        /* Show all content by default on larger screens */
    }
}




#about-us .container {
    max-width: 800px;
}

#about-us .heading {
    text-align: center;
    padding: 10px 0px;
}

#about-us .content {
    background: var(--background-color);
    padding: 30px 20px;
}

/* #about-us .content p{
    display: flex;
    align-items: center;
    justify-content: center;
} */


#about-us .content .highlight {
    color: var(--secondary-color);
}

#about-us .content span {
    font-weight: bold;
    /* Makes the span text bold */
    color: var(--text-color);
    /* Changes the text color to a primary blue */
}

#about-us .content h2 {
    font-size: var(--font-size-h2);
    margin: 25px 0px;
    text-align: center;
}

#about-us .content p {
    font-family: Arial, sans-serif;
    /* Sets a clean, modern font */
    line-height: 1.6;
    /* Increases the line height for better readability */
    margin-bottom: 15px;
    /* Adds space between paragraphs */
    text-indent: 30px;
}


.pricing-container .img-container {
    width: 100%;
    height: 170px;
    overflow: hidden;
}

.pricing-container .card {
    border-radius: 10px;
    border: none;
    box-shadow: var(--shadow);
    margin: 10px 2px;
}

.pricing-container .card img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: var(--shadow);
}

.pricing-container .card-body {
    text-align: center;
}

.pricing-container h5 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #6c757d;
    text-align: start;
}

.pricing-container .card-container {
    margin: 15px 0px;
}

.pricing-container .card p {
    font-size: 14px;
    color: var(--white-color);
}

.price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 0px;

}

.price-container-md {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price-container label,
.price-container-md {
    font-size: 14px;
}

.price-container p {
    background: var(--secondary-color);
    border-radius: 5dvh;
    color: #f5f5f5;
    padding: 2px 10px;
    margin: 0px 0px;
}

.price-container-md p {
    background: var(--secondary-color);
    border-radius: 5dvh;
    color: #f5f5f5;
    padding: 2px 20px;
    margin: 0px 0px;
}

#view-pricing {
    padding: 10px 35px;
    background: var(--secondary-color);
    color: var(--white-color);
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: var(--font-size-p);
    margin-top: 10px;
}


@media (max-width: 768px) {
    .pricing-container {
        margin-top: 110px;
    }
}



.satisfied-customers-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    background-color: var(--background-color);
    /* Light background */
}

.img-container {
    width: 300px;
    height: 170px;
    overflow: hidden;
    margin-bottom: 20px;
}

.customer img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: var(--shadow);
}

.customer {
    height: 400px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: none;
}
.customer p{
    background: var(--text-color);
    padding: 10px;
    border-radius: 10px;
    color: var(--white-color);
    font-size: var(--font-size-p);
}

.customer.visible {
    display: block;
    opacity: 1;
}

.customer.fade-out {
    opacity: 0;
}

@media (max-width: 768px) {
    .satisfied-customers-section {
        padding: 30px 10px;
        /* Adjust padding for smaller screens */
    }
}

/*contact-form-container*/
.contact-form-container .row {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.contact-form,
.location {
    width: 100%;
    padding: 15px;
}

.contact-form-container h2 {
    font-size: var(--font-size-h2);
    margin-bottom: 1rem;
}

.contact-form-container h3 {
    font-size: var(--font-size-h3);
}

#contactForm {
    margin: 10px 40px;
}

#contactForm label {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

#contactForm input,
#contactForm textarea {
    width: 100%;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    outline: none;
}

#contactForm button {
    border: none;
    padding: 10px 20px;
    background: var(--secondary-color);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#contactForm button:hover {
    background: var(--success-color);
}

.location iframe {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: 2px dotted var(--secondary-color);
    outline: none;
}

@media (min-width: 768px) {

    .contact-form,
    .location {
        width: 50%;
    }

    .location iframe {
        height: 450px;
    }
}



/* Footer Styles */
footer .container .row {
    text-align: center;
}

footer .container .row h3 {
    font-size: var(--font-size-h3);
    font-weight: bold;
}

footer .container .row p {
    font-size: var(--font-size-p);
    color: #6c757d;
}

.footer-bottom {
    background-color: var(--background-color);
    color: #6c757d;
}